* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #f9f9a6;
	font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
	letter-spacing: 2px;
	text-align: center;
}

#login {
	visibility: visible;
	padding: 40px;
	/* position: right; */
}

#create {
	visibility: visible;
	padding: 1rem;
}

#notes {
	visibility: visible;
	padding: 40px;
	padding: 1rem;
}