* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #f9f9a6;
	font-family: 'Mansalva', cursive;
	justify-content: space-around;
}

#replacement {
	padding: 0 1.5rem;
}

.hidden {
	display: none;
}

h1 {
	letter-spacing: 2px;
	text-align: center;
	font-family: 'Mansalva', cursive;
}

h4 {
	font-family: 'Mansalva', cursive;
}

#login {
	visibility: visible;
	padding: 40px;
	/* position: right; */
}

#notes {
	visibility: visible;
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#notes {
	visibility: visible;
	padding: 40px;
	padding: 2rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

#createNote {
	padding: 0 .75rem;
}

.note {
	background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(nuggets.png);
	background-position: center;
	background-size: cover;
	object-fit: contain;
	max-width: 300px;
	min-width: 200px
	height: 300px;
	margin: 10px;
}

.hidden {
	display: none;
}

.nuggetMascot {
	width: 50%;
}

#replacement {
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-evenly;
}
