body {
	text-align: center;
	display: flex;
	flex-direction: column;
}

#login {
	visibility: visible;
	padding: 1rem;
}

#create {
	visibility: visible;
	padding: 1rem;
}

#notes {
	visibility: visible;
	padding: 1rem;
}
